<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col class="left">
          <ion-title><h2><b>{{personName}}</b></h2></ion-title>
        </ion-col>
        <ion-col class="right" >
          <a [routerLink] = "['/home']">
            <ion-icon size="large" class="home" aria-label="Favorite" name="home">
          </ion-icon>
          </a>
          <a [routerLink] = "['/favourites']">
            <ion-icon size="large" class="heart" aria-label="Favorite" name="heart">
            </ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
       
  <ion-card>
    <img *ngIf="((personPoster !=null) && (personPoster !=''))" [src]="posterBaseUrl+personPoster" />
    <ion-card-header>
      <ion-card-title>{{personAka}}</ion-card-title>
      <ion-card-subtitle>Born: {{personDOB}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="(personDOD !=null)"> Passed away: {{personDOD}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{personBio}}
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label><h1>Movies</h1></ion-label>
  </ion-item-divider>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-between" *ngFor="let movie of personCredits" (click) = "onCardClick(movie.id)">
          <ion-col class="left">
            <ion-title>{{movie.original_title}}</ion-title>
                <ion-card-content>
                  {{movie.overview}}
                </ion-card-content>
          </ion-col>
          <ion-col class="right" >
            <img *ngIf="movie.poster_path !=null" [src]="posterBaseUrl+movie.poster_path" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
