<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col class="left">
          <ion-title><h2><b>{{movieTitle}}</b></h2></ion-title>
        </ion-col>
        <ion-col class="right" >
          <a [routerLink] = "['/home']">
            <ion-icon size="large" class="home" aria-label="Favorite" name="home">
          </ion-icon>
          </a>
          <a [routerLink] = "['/favourites']">
            <ion-icon size="large" class="heart" aria-label="Favorite" name="heart">
            </ion-icon>
          </a>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-card class="title">
          <ion-card-content>
            {{movieOverview}}
          </ion-card-content>
          <ion-button (click)="onFavClick()" [fill]="favourited == 0 ? 'outline': 'solid' " size="small" color="secondary">
             {{favButton[favourited]}} 
            <ion-icon size="small" class="heartButton" aria-label="Favorite" [name]="favourited == 0 ? 'heart-outline': 'heart' "></ion-icon>
          </ion-button> <br/>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider>
    <ion-label><h1>Cast</h1></ion-label>
  </ion-item-divider>

  <ion-card *ngFor="let cast of movieCast" (click) = "onCardClick(cast.id)">
    <img *ngIf="cast.profile_path !=null" [src]="posterBaseUrl+cast.profile_path" />
    <ion-card-header>
      <ion-card-title>{{cast.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      as: {{cast.character}}
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label><h1>Crew</h1></ion-label>
  </ion-item-divider>

  <ion-card *ngFor="let crew of movieCrew" (click) = "onCardClick(crew.id)">
    <img *ngIf="crew.profile_path !=null" [src]="posterBaseUrl+crew.profile_path" />
    <ion-card-header>
      <ion-card-title>{{crew.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      role: {{crew.job}}
    </ion-card-content>
  </ion-card>
</ion-content>
