<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col class="left">
          <ion-title><h2><b>Favourities</b></h2></ion-title>
        </ion-col>
        <ion-col class="right" >
          <a [routerLink] = "['/home']">
            <ion-icon size="large" class="home" aria-label="Favorite" name="home">
          </ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let movie of favMoviesData" >
      <ion-grid (click) = "onCardClick(movie.id)">
        <ion-row class="ion-justify-content-between">
          <ion-col class="left">
            <ion-title>{{movie.original_title}}</ion-title>
                <ion-card-content>
                  {{movie.overview}}
                </ion-card-content>
          </ion-col>
          <ion-col class="right" >
            <img *ngIf="movie.poster_path !=null" [src]="posterBaseUrl+movie.poster_path" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card-content class="button">
        <ion-button (click)="onFavClick(movie.id)" size="small" color="secondary">
          Remove from Favourites
        </ion-button>
      </ion-card-content>
    
  </ion-card>

</ion-content>
