<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col class="left">{{name}}</ion-col>
        <ion-col class="right">{{keyword}}2</ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="initialise()">OK</ion-button> <br />
  <ion-button (click)="getTrending()">Trending</ion-button> <br/>
  <ion-button (click)="searchClick('avengers')">Search</ion-button> <br/>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
