<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col class="left">{{name}}</ion-col>
        <ion-col class="right">{{keyword}}2</ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-input label="Search for movie:" placeholder="movie title" [(ngModel)]="keyword"></ion-input>
<ion-button (click)="onSearchClick()">Search</ion-button> <br/>

<ion-card *ngFor="let movie of movieData" (click) = "onCardClick(movie.id)">
  <img [src]="posterBaseUrl+movie.poster_path" />
  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{movie.overview}}
  </ion-card-content>
</ion-card>

</ion-content>
